* {
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: lightgray;
}
header h1{
    /* display: inline; */
    position: relative;
    margin: 10px;
    color: antiquewhite;
    left: 40px;
}
#time{
    color:antiquewhite;
}
.container-xxl{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 95%;
}
#search {
    height: 750px;
}
#search label{
    font-size: 1.75rem;
    font-weight: bolder;
}
ul{
    padding: 0px;
}
#forecastCard{
    height: 450px;
    border-color: black;
    border: solid;
    background-color: whitesmoke;
}
#city-info{
    display: inline;
}
#fiveday{
    padding: 0;
}
#fiveday h1{
    color: black;
    margin: 10px;
}
.card{
    height: 275px;
    background-color: rgb(179, 179, 179);
}
.card-body{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-evenly;
}
#prev-search{
    list-style: none;
}
